{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="TitleForMainPage">{% trans "Set Password" %}</h1>

  <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="blue-btn color-red-btn btn-enlarger" name="action" value="{% trans 'Set Password' %}"/>
  </form>
</div>
{% endblock %}
