{% extends 'base/main.html' %}
{% block content %}
{% load static %}

<div class="rightstand toppad">
{% if request.user.is_authenticated %}
<a class="floatL leftstand" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="floatL leftstand" href="{% url 'login' %}">Login</a>
{% endif %}
<p class="floatR leftstand fsize">Hello {{request.user}}</p>
<br>
<hr>

</div>

<div class="eepads">
<div class="epads">

<div class="card1">
    <h1>My To Do List</h1>
</div>

<hr>

<div class="leftstand">
    <a type="button" class="btn btn-secondary" href="{% url 'task-create' %}">Add Task</a>
</div>

<br>
<form class="leftstand" method="GET">
    <input type="text" name="search-area" value="{{search_input}}"> 
    <input type="submit" value="Search">

</form>

<hr>

<table class="leftstand">
    <tr class="leftstand">
        <th class="padofpads">Items</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr class="leftstand">
        <td class="padofpads">{{task.title}}</td>
        <td class="padofpads"><a type="button" class="btn btn-dark" href="{% url 'task-update' task.id %}">Edit</a></td>
        <td class="padofpads"><a type="button" class="btn btn-danger" href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3 class="leftstand">No items in List</h3>
    {% endfor %}
</table>

</div>
</div>
{% endblock %}