<div class="account-credentials">
    <div class="profile-image-holder"><img src="{{ user.profile.profile_picture.url }}" alt=""></div>
    <div class="right-bar-name">{{ user.profile.name }}</div>
    <div class="right-bar-location"><i class="bi bi-heart-fill"></i> {{ user.profile.birth_date }}</div>
    <div class="right-bar-location"><i class="bi bi-geo-alt-fill"></i> {{ user.profile.location }}</div>
    <div class="right-bar-location"><i class="bi bi-person-fill"></i> {{ user.profile.gender }}</div>
</div>