{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap_block %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">{% endblock bootstrap_block %}
{% block title %}Create Category{% endblock title %}
{% block mainheading %}Create Category{% endblock mainheading %}

{% block maincontent %}
<div class="spacer"><h1 class="form-heading">Add new Category</h1></div>
<div class="form-container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Create category" class="blue-btn color-red-btn btn-enlarger">
        <a href="{% url 'dashboard:home' %}"><button class="blue-btn btn-enlarger">Cancel <i class="bi bi-arrow-bar-left"></i></button></a>
    </form>
</div>
{% endblock maincontent %}