{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap_block %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">{% endblock bootstrap_block %}
{% block title %}Update note{% endblock title %}
{% block active_ass %}class="active"{% endblock active_ass %}
{% block mainheading %}update note{% endblock mainheading %}

{% block maincontent %}
<div class="spacer"><h1 class="form-heading">Update Note</h1></div>
<div class="form-container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ form.media }}
        <input type="submit" value="Update note" class="blue-btn color-red-btn btn-enlarger">
    </form>
    <a href="{% url 'dashboard:notes-list' %}"><button class="blue-btn btn-enlarger">Cancel <i class="bi bi-arrow-bar-left"></i></button></a>
</div>
{% endblock maincontent %}