{% extends "dashboard/base.html" %}
{% load static %}

{% block bootstrap_block %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">{% endblock bootstrap_block %}
{% block title %}To-do{% endblock title %}
{% block active_to %}class="active"{% endblock active_to %}
{% block mainheading %}To-do{% endblock mainheading %}

{% block maincontent %}
<div class="spacer"><a href="{% url 'dashboard:task-create' %}"><button class="blue-btn color-red-btn btn-enlarger">Create Todo</button></a></div>

<div class="form-container">
    <h1 class="heading">To-do</h1>

    <table class="table-balancer table table-borderless text-center">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Added on</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% if task.complete %}
                <tr class="beautify">
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.created|date:"d M Y" }}</td>
                    <td class="completer"><i class="bi bi-check-square"></i></td>
                    <td><a href="{% url 'dashboard:task-delete' pk=task.pk %}"><button class="blue-btn color-red-btn btn-enlarger"><i class="bi bi-trash"></i></button></a></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.created|date:"d M Y" }}</td>
                    <td><a href="{% url 'dashboard:task-update' pk=task.pk %}"><button class="blue-btn color-purple-btn btn-enlarger"><i class="bi bi-pencil-square"></i></button></a></td>
                    <td><a href="{% url 'dashboard:task-delete' pk=task.pk %}"><button class="blue-btn color-red-btn btn-enlarger"><i class="bi bi-trash"></i></button></a></td>
                </tr>
            {% endif %}
        {% empty %}
            <tr><td><p class="subtitle">No Todo Added!</p></td><td>Add your first now!</td></tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock maincontent %}