{% load static %}
<div class="navbar">
               
    <div class="navbar_logo">
        <img src="{% static 'images/logo/logo_rotator.png' %}" width="50" alt="">
        <span class="navbar_logo_name">Assigno</span>
    </div>
       
    <div class="searchbar">
        <form action="#">
            <input type="text" placeholder="search" name="q">
            <i class="fa fa-search"></i>
        </form>
    </div>

    <div class="nav_item">

    <div class="account_div">
        <img src="{{ user.profile.profile_picture.url }}"  class="round_image" width="54" alt="">
        <span class="account_name">{{ user.profile.name }}</span>
        <span class="account_username">@{{ user.username }}</span>
    </div>
    
</div>
</div>