<div class="sidebar bg">
    <ul>
        <li class="sidebar_dashboard">
            <i class="fa fa-home"></i>
            <a href="{% url 'dashboard:home' %}">Home</a>
        </li>
        <li>
            <i class="fa fa-file-text-o"></i>
            <a href="{% url 'dashboard:assignment-list' %}">Assignments</a>
        </li>

        <li>
            <i class="fa fa-pencil-square-o"></i>
            <a href="{% url 'dashboard:notes-list' %}">Notes</a>
        </li>

        <li>
            <i class="fa fa-bell"></i>
            <a href="{% url 'dashboard:reminders-list' %}">Reminders</a>
        </li>

        <li>
            <i class="fa fa-list-ul"></i>
            <a href="{% url 'dashboard:task-list' %}">To-Do</a>     
        </li>

        <li>
            <i class="fa fa-sign-out"></i>
            <a href="{% url 'account_logout' %}">Logout</a>
          </li>

    </ul>
</div>
