@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.sidebar ul
{
    position: relative;
    width: 270px;
    margin: 10px auto 0;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar ul li
{
    display: flex;
    background: rgba(255, 255, 255, .1);
    padding:10px 20px;
    color:#fff;
    margin: 5px 0;
    transition: 0.5s;
}
.sidebar ul li:nth-child(1)
{
    background: rgba(255,   255, 255,.6);
}

.sidebar ul li:nth-child(2)
{
    background: rgba(255,   255, 255,.4);
}

.sidebar ul li:nth-child(3)  
{
    background: rgba(255,   255, 255,.2);
}
.sidebar ul li span:nth-child(1)
{
    width: 30px;
}
.sidebar ul li span:nth-child(2)
{
    width: 200px;
}
.sidebar ul li span:nth-child(3)
{
    width: 100px;
    text-align: right;
}
.sidebar ul li span:nth-child(4)
{
    width: 100px;
    text-align: right;
    
}
.sidebar ul li:hover
{
    transform: scale(1.25);
    background: #f302f3;
    color:#fff;
}













.right-panel ul
{
    position: relative;
    width: 270px;
    margin: 10px auto 0;
    padding: 10px;
    box-sizing: border-box;
}
.right-panel ul li
{
    display: flex;
    background: rgba(255, 255, 255, .1);
    padding:10px 20px;
    color:#fff;
    margin: 5px 0;
    transition: 0.5s;
}
.right-panel ul li:nth-child(1)
{
    background: rgba(255,   255, 255,.6);
}

.right-panel ul li:nth-child(2)
{
    background: rgba(255,   255, 255,.4);
}

.right-panel ul li:nth-child(3)  
{
    background: rgba(255,   255, 255,.2);
}
.right-panel ul li span:nth-child(1)
{
    width: 30px;
}
.right-panel ul li span:nth-child(2)
{
    width: 200px;
}
.right-panel ul li span:nth-child(3)
{
    width: 100px;
    text-align: right;
}
.right-panel ul li span:nth-child(4)
{
    width: 100px;
    text-align: right;
    
}
.right-panel ul li:hover
{
    transform: scale(1.25);
    background: #f302f3;
    color:#fff;
}


.right-panel ul li a
{
    text-decoration: none;
    font-size:1.5rem;
    font-weight: bold;
    padding: 1rem;
    margin:1rem;
}

