.stats{
    font-size:7.5em;
    color:rgba(74, 15, 88, 0.781);
    text-align: center;
}

.stat_title{
    font-size:3.5em;
    color:rgba(143, 5, 255, 0.781);
    text-align: center;   
}
.welcome_message{
    float: right;
    font-size: 2.5em;
}
.round_image{
    border-radius: 100%;
}

.round-btn{
    margin: 1rem;
    font-size: 1.5rem;
    border-radius:10px;
    border:none;
    background-color:rgb(11, 88, 255);
    color: white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding: 1rem;
}
.title{
    font-size: 5rem;
    margin: .5rem;
}
.enlarge-symbol{
    font-size: 25px;
    margin:1px;
    margin-left:5px;
}
.enlarge-symbol input{
    margin:4px;
}
.basic{
    padding: .5rem;
    font-size: 1.5rem;
}

.primary-btns{
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
}
.list-improve td{
    font-size: 1.7rem;
}




#logo{
}

.rightstand{
    padding-right: 20px;
}
.card1{
    background-image: linear-gradient(to bottom right, #4640a7, black);
    color: white;
    padding: 7px;
    text-align: center;
    border-radius: 15px;
}
.floatL{
    float: left
}
.toppad{
    padding-top: 10px;
}
.fsize{
    font-size: 27px;
}
.leftstand{
    padding-left: 20px;
}
.floatR{
    float: right
}
.epads{
    background-color: #ebeff5;
    border-radius: 15px;
    padding: 7px;
}
.eepads{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.maincard{
    background-color: #4640a7;
}
.padofpads{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}
