{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>

        {% include "snippets/head.html" %}

        <title>
            {% block title %}
              
            {% endblock title %}
        </title>
    </head>
    
    <!--- For Boxes of size    -->
    <body>
        <div class="my_container">
            
            <div class="navbar">
               
            <div class="navbar_logo">
                <img src="{% static 'images/company_logo.jpg' %}" width="50" alt="">
                <span class="navbar_logo_name">OUR COMPANY</span>
            </div>
               
            <div class="searchbar">
                <form action="#">
                    <input type="text" placeholder="search" name="q">
                    <i class="fa fa-search"></i>
                </form>
            </div>

            <div class="nav_item">
        
            <div class="account_div">
                <img src="{{ user.profile.profile_picture.url }}"  class="round_image" width="54" alt="">
                <span class="account_name">{{ user.profile.name }}</span>
                <span class="account_username">@{{ user.username }}</span>
            </div>
            
        </div>
        </div>
            
    
        <div class="sidebar bg">
            <ul>
                <li class="sidebar_dashboard">
                    <i class="fa fa-home"></i>
                    <a href="#">Home</a>
                </li>
                <li>
                    <i class="fa fa-file-text-o"></i>
                    <a href="#">Assignments</a>
                </li>
                <li>
                    <i class="fa fa-bell"></i>
                    <a href="#">Reminders</a>
                </li>
                <li>
                    <i class="fa fa-pencil-square-o"></i>
                    <a href="#">Notes</a>
                </li>
                <li>
                    <i class="fa fa-list-ul"></i>
                    <a href="#">To-Do</a>     
                </li>
            </ul>
        </div>

        <div class="card1">
            {% block card1block %}
              
            {% endblock card1block %}
        </div>

        <div class="card2">
            {% block card2block %}
              
            {% endblock card2block %}
        </div>

        <div class="card3 card row-1">
            {% block card3block %}
              
            {% endblock card3block %}
        </div>
        
        <div class="sub-content">
            {% block maincontent %}

            {% endblock maincontent %}    
        </div>
    
        <div class="right-panel">
            {% block sidepanel %}
              
            {% endblock sidepanel %}
        </div>

    </div>
    
        {% include "snippets/scripts.html" %}
    

    </body>
    </html>
    
        