*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none;
    font-family:sans-serif;
}

html{
    font-size: 9px;
}


/* for background*/
body
{
    display:flex;
    justify-content:center;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* For the color of teh box 
Outline pf the white box 
Amd size of the Box*/ 
.my_container
{
    display: grid;
    grid-template-columns:0.6fr 1fr 1fr 1fr;
    grid-template-rows:0.2fr 0.2fr 0.4fr 0.6fr 0.3fr;
    grid-template-areas:"navbar     navbar         navbar        navbar"
                        "sidebar    card1         card2          card3"
                        "sidebar    sub-content   sub-content    right-panel"
                        "sidebar    sub-content   sub-content    right-panel"
                        "sidebar    sub-content   sub-content    right-panel";  
                        grid-gap: 1rem;
                        padding: 2rem;
                        border-radius: 1em;
    width: 95%;            
    height: 95vh;
    background: linear-gradient(to top right,rgba(255,255,255,.5),rgba(255,255,255,.5));
    border-radius: 1.4rem;

}

.navbar{
    grid-area:  navbar;
} 

.sidebar{
    grid-area: sidebar;
}

.card1{
    grid-area:  card1;
    text-align: center;
}
.card2{
    grid-area:  card2;
    text-align: center;
}
.card3{
    grid-area:  card3;
    text-align: center;
}

.sub-content{
    grid-area:  sub-content;
}

.right-panel{
    grid-area:  right-panel;
    overflow: auto;
}

.my_container  div{
    background: linear-gradient(to top right,rgba(255,255,255,.5),rgba(255,255,255,.5));
}

.navbar div{
    background: none;
}


/* side bar css */

.sidebar{
    padding:1rem;

}

.sidebar ul li{
    padding: 2rem;
    margin: 1rem 0;
    font-size: 2rem;
    border-radius: .8rem;
}

.sidebar ul li a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;

}

.sidebar .fa{
    color: #000;
    font-size: 3rem;
    padding: .8rem;
}


/* Navbar CSS */
.my_container .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: .8rem 2.5rem;
    margin-top: .8rem;
}

.my_container .navbar_logo{
    display:flex;
    align-items:center;
}

.my_container .navbar_logo .navbar_logo_name {
    font-size: 2.8rem;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px rgba(16, 16, 16, .1),
                 1px 2px 1px rgba(16, 16, 16, .1),
                 1px 3px 1px rgba(16, 16, 16, .1),
                 1px 4px 1px rgba(16, 16, 16, .1),
                 1px 5px 1px rgba(16, 16, 16, .1);
}


.my_container .navbar_logo img {
    width: 4em;
    height: 4em;
    border-radius:100%;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(-360deg);
    }    
}

.navbar .searchbar{
    position: relative;
}

.navbar .searchbar input {
    padding: 1rem 14rem 1.5rem 2rem;
    border: none;
    font-size: 2rem;
    outline: none;
    border-radius: 3rem;
    transition:0.7s;
}
.navbar .searchbar input:focus{
    color: rgba(143, 5, 255, 0.781);
    padding: .8rem 23rem 1.75rem 2rem;
}

.navbar .searchbar .fa{
    position: absolute;
    font-size: 2.7rem;
    top:1.5rem;
    right: 1.5rem;   
}


.navbar .nav_item .nav_icons ul li .fa:hover {
    transform: scale(1.2) rotate(360deg);
    color: #33ccff;
    background: transparent;
}

.navbar .nav_item .account_div{
    position: relative;
    display: flex;
    align-items: center;
}

.navbar .nav_item .account_div img{
    border-radius: 50%;
}

.navbar .nav_item .account_div .account_name {
    text-transform: capitalize;
    margin:0 .6rem;
    font-size:2rem;
    font-weight: 700;
}

.navbar .nav_item .account_div .account_username {
    position: absolute;
    top:4.5rem;
    left:6.5rem;
    font-size: 1.5rem;
}

.my_container_for_assignment
{
    display: grid;
    grid-template-columns:0.6fr 1fr 1fr 1fr;
    grid-template-rows:0.2fr 0.2fr 0.4fr 0.6fr 0.3fr;
    grid-template-areas:"navbar     navbar       navbar        navbar"
                        "sidebar    form-panel   form-panel    right-panel"
                        "sidebar    form-panel   form-panel    right-panel"
                        "sidebar    form-panel   form-panel    right-panel"
                        "sidebar    form-panel   form-panel    right-panel";  
                        grid-gap: 1rem;
                        padding: 2rem;
                        border-radius: 1em;
    width: 95%;            
    height: 95vh;
    background: linear-gradient(to top right,rgba(255,255,255,.5),rgba(255,255,255,.5));
    border-radius: 1.4rem;

}

.form-panel{
    grid-area: form-panel;
}

.my_container_for_assignment  div{
    background: linear-gradient(to top right,rgba(255,255,255,.5),rgba(255,255,255,.5));
}

/* Navbar CSS */
.my_container_for_assignment .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: .8rem 2.5rem;
    margin-top: .8rem;
}

.my_container_for_assignment .navbar_logo{
    display:flex;
    align-items:center;
}

.my_container_for_assignment .navbar_logo .navbar_logo_name {
    font-size: 2.8rem;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px rgba(16, 16, 16, .1),
                 1px 2px 1px rgba(16, 16, 16, .1),
                 1px 3px 1px rgba(16, 16, 16, .1),
                 1px 4px 1px rgba(16, 16, 16, .1),
                 1px 5px 1px rgba(16, 16, 16, .1);
}


.my_container_for_assignment .navbar_logo img {
    width: 4em;
    height: 4em;
    border-radius:100%;
    animation: rotate 7s linear infinite;
}

.my_container_for_assignment .navbar div{
background:none;
}



.form-panel input{
    font-size: 2rem;
}

.form-panel label{
    font-size: 2rem;
    padding-top:2rem;
}

.increase-text{
    font-size: 2rem;
}




.my_container_for_assignment_list
{
    display: grid;
    grid-template-columns:0.6fr 1fr 1fr 1fr;
    grid-template-rows:0.2fr 0.2fr 0.4fr 0.6fr 0.3fr;
    grid-template-areas:"navbar     navbar       navbar        navbar"
                        "sidebar    ass_list   ass_list    right-panel"
                        "sidebar    ass_list   ass_list    right-panel"
                        "sidebar    ass_list   ass_list    right-panel"
                        "sidebar    ass_list   ass_list    right-panel";  
                        grid-gap: 1rem;
                        padding: 2rem;
                        border-radius: 1em;
    width: 95%;            
    height: 95vh;
    background: linear-gradient(to top right,rgba(255,255,255,.5),rgba(255,255,255,.5));
    border-radius: 1.4rem;

}

.ass_list{
    grid-area: ass_list;
}

.my_container_for_assignment_list  div{
    background: linear-gradient(to top right,rgba(255,255,255,.5),rgba(255,255,255,.5));
}

/* Navbar CSS */
.my_container_for_assignment_list .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: .8rem 2.5rem;
    margin-top: .8rem;
}

.my_container_for_assignment_list .navbar_logo{
    display:flex;
    align-items:center;
}

.my_container_for_assignment_list .navbar_logo .navbar_logo_name {
    font-size: 2.8rem;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px rgba(16, 16, 16, .1),
                 1px 2px 1px rgba(16, 16, 16, .1),
                 1px 3px 1px rgba(16, 16, 16, .1),
                 1px 4px 1px rgba(16, 16, 16, .1),
                 1px 5px 1px rgba(16, 16, 16, .1);
}


.my_container_for_assignment_list .navbar_logo img {
    width: 4em;
    height: 4em;
    border-radius:100%;
    animation: rotate 7s linear infinite;
}

.my_container_for_assignment_list .navbar div{
background:none;
}
