{% extends "base.html" %}
{% load bootstrap4 %}

{% block dashboard_sections %}
          

<div class="my_container_for_assignment">

    {% include "snippets/navigation.html" %}
        
    {% include "snippets/sidebar.html" %}

<div class="form-panel">
    <div class="container">
        <h1 class="title">Create Assignment</h1>

        <form method="POST" class="enlarge-symbol" enctype="multipart/form-data">
        
            {% csrf_token %}
            {% bootstrap_form form %}
        
            <input type="submit" class="round-btn">
            
        </form>
    </div>
</div>

<div class="right-panel"></div>

</div>

{% endblock dashboard_sections %}
