{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block dashboard_sections %}
          

<div class="my_container_for_assignment_list">

    {% include "snippets/navigation.html" %}
        
    {% include "snippets/sidebar.html" %}


<div class="ass_list">
  <div class="container basic">
      <h1 class="title">Are you sure?</h1>
      <p><strong>This action cannot be undone!</strong></p>
      <p>Details:</p>
      <p><strong>Title:</strong> {{ object.title }}</p>
      <p><strong>Added On:</strong> {{ object.timestamp|date:"D d M Y" }}</p>
      <p><strong>Deadline</strong> {{ object.last_date }}</p>

      <form method="POST">
        <input type="submit" class="btn btn-danger primary-btns" value="Delete">
        {% csrf_token %}
      </form>
  
    </div>
</div>

<div class="right-panel">
  <ul>
      <li>
          <a href="{% url 'dashboard:assignment-create' %}">Add Assignments</a>
      </li>
      
      <li>
          <a href="{% url 'dashboard:notes-create' %}">Add Notes</a>
      </li>
       
      <li>
          <a href="{% url 'dashboard:reminders-create' %}">Add Reminders</a>
      </li>
  </ul>
</div>

</div>



{% endblock dashboard_sections %}
