{% extends "base.html" %}
{% load static %}
{% block dashboard_sections %}

<div class="my_container">

    {% include "snippets/navigation.html" %}
        
    {% include "snippets/sidebar.html" %}

    <div class="card1">
    <span class="stats"> {{ assignment_count }}</span>
    <br>
    <span class="stat_title">Assignments</span> 
    </div>
    
    <div class="card2">
    <span class="stats"> {{ deadline_count }}</span>
    <br>
    <span class="stat_title">Reminders</span> 
    </div>
    
    <div class="card3">
    <span class="stats">{{ notes_count }}</span> 
    <br>
    <span class="stat_title">Note Slides</span> 
    </div>

    
    
    <div class="sub-content">
        <h1 class="title">Recent Assignments</h1>
        {% for item in recent_assignments  %}
        <div class="card enlarge-text">
            <div class="card-body">
              <h5 class="card-title basic"><strong>{{ item.title }}</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted basic">{{ item.assignment }}</h6>
              <p class="card-text">{{ item.description }}</p>
              <a href="#" class="card-link enlarge-text"><a href="{% url 'dashboard:assignment-delete' pk=item.pk %}"><i class="fa fa-trash-o enlarge-symbol"></i></a></a>
              
            </div>
          </div>
        {% endfor %}
    </div>
    
    
    <div class="home-logo">
        <img class="home-logo-image" src="{% static 'images/logo/logo.png' %}" alt="">
    </div>

    <div class="right-panel">
       <p class="basic">
        Upcoming Reminders:
       </p>
            {% for item in deadline  %}
            <div class="card enlarge-text">
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ item.description }}</h6>
                  <p class="card-text">{{ item.last_date|date:"D d M Y" }}</p>

                </div>
              </div>
              {% empty %}
             <p class="basic"> (No Reminders)</p>
            {% endfor %} 
    </div>        
    
    
</div>

{% endblock dashboard_sections %}