{% extends "base.html" %}

{% block maincontent %}

<div class="card1">
    <span class="stats"> {{ assignment_count }}</span>
    <br>
    <span class="stat_title">assignment count</span> 
</div>

<div class="card2">
    <span class="stats"> {{ deadline_count }}</span>
    <br>
    <span class="stat_title">deadlines counts</span> 
</div>

<div class="card3">
     <span class="stats">{{ notes_count }}</span> <br>
     <span class="stat_title">Notes counts</span> 
</div>

<div class="sub-content">

</div>

{% endblock maincontent %}