{% extends "base.html" %}
{% load bootstrap4 %}

{% block dashboard_sections %}
          

<div class="my_container_for_assignment_list">

    {% include "snippets/navigation.html" %}
        
    {% include "snippets/sidebar.html" %}


<div class="ass_list">
  <div class="container">
    {% for item in assignments %}
      <h1>{{ item }}</h1>
    {% endfor %}
  </div>
</div>

<div class="right-panel">
<a class="btn btn-primary" href="{% url 'dashboard:assignment-create' %}">Add Assignments</a>
</div>

</div>



{% endblock dashboard_sections %}
