{% extends "forums/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block act_cre %}class="nav-active"{% endblock act_cre %}

{% block topbar %}{% endblock topbar %}

{% block maincontent %}
<div class="form-balancer">
    <h1>Create Forum</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Create Forum" class="blue-btn">
    </form>
    <a href="{% url 'forums:list-forums' %}"><button class="blue-btn">Back</button></a>
</div>
{% endblock maincontent %}

